In [56]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import BernoulliNB
from sklearn.svm import SVC

In [26]:
Subjectdata = pd.read_csv('emails.csv',usecols = [0,1])
Bodydata = pd.read_csv('spamWithBody.csv')

# Classifier based on subject lines and body

In [31]:
Subjectdata.head()

                                                text spam
0  Subject: naturally irresistible your corporate...    1
1  Subject: the stock trading gunslinger  fanny i...    1
2  Subject: unbelievable new homes made easy  im ...    1
3  Subject: 4 color printing special  request add...    1
4  Subject: do not have money , get software cds ...    1

In [32]:
Subjectdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5730 entries, 0 to 5729
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5730 non-null   object
 1   spam    5728 non-null   object
dtypes: object(2)
memory usage: 89.7+ KB

In [37]:
Subjectdata.describe()

                                                     text  spam
count                                                5730  5728
unique                                               5697     4
top     Subject: re : eprm 2001 houston  layla ,  my a...     0
freq                                                    2  4359

In [38]:
print(Subjectdata['text'][10])

Subject: las vegas high rise boom  las vegas is fast becoming a major metropolitan city ! 60 +  new high rise towers are expected to be built on and around the las vegas strip  within the next 3 - 4 years , that ' s 30 , 000 + condominiums !  this boom has just begun ! buy first . . . early phase ,  pre - construction pricing is now available on las vegas high rises including  trump , cosmopolitan , mgm , turnberry , icon , sky , among others .  join the interest list :  http : / / www . verticallv . com  message has been sent to you by realty one highrise . learn more at www . verticallv . comif you  wish to be excluded from future mailings , please reply with the word remove in  the subject line .

In [40]:
Subjectdata.isnull().sum()

text    0
spam    2
dtype: int64

In [42]:
Subjectdata.dropna(inplace=True)
Subjectdata.drop_duplicates(inplace=True)

## Vectorization and spliting

In [45]:
x = Subjectdata['text']
y = Subjectdata['spam']

In [46]:
cv=CountVectorizer()
x=cv.fit_transform(x)

In [48]:
x.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [4, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [49]:
# Spliting in test and train
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=1)

## Apply Models

### Multinomial baive Bayes

In [50]:
gnb=MultinomialNB()
gnb.fit(xtrain,ytrain)

MultinomialNB()

In [51]:
gnb.score(xtest,ytest)

0.9868305531167691

### Bernoulli Naive Bayes

In [54]:
bnb=BernoulliNB()
bnb.fit(xtrain,ytrain)

BernoulliNB()

In [55]:
bnb.score(xtest,ytest)

0.9850746268656716

### SVM

In [57]:
model = SVC(random_state = 0)
model.fit(xtrain,ytrain)

SVC(random_state=0)

In [58]:
model.score(xtrain,ytrain)

0.9699297629499561

## Use data for our dataset

# Classifier based on Message Body

In [27]:
Bodydata.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
print(Bodydata['Message'][10])